<header class="header">
  <h1>Vacation</h1>
  <div class="places">
    <!-- Link to a route -->
    <a href="/hawaii">Hawaii</a>
    <a href="/venice">Venice</a>
    <a href="/tokyo">Tokyo</a>
  </div>
</header>
