<section class="eer">
  <section class="imS">
    <p>Eat</p>
    <img src={{photo1}}>
  </section>
  <section class="imS">
    <p>Explore</p>
    <img src={{photo2}}>
  </section>
  <section class="imS">
    <p>Relax</p>
    <img src={{photo3}}>
  </section>
</section>
