<header class="header">
  <h1>Vacation</h1>
  <div class="places">
    <!-- Link to a route -->
    <a href="/cities?name=Hawaii">Hawaii</a>
    <a href="/cities?name=Venice">Venice</a>
    <a href="/cities?name=Tokyo">Tokyo</a>
  </div>
</header>
