div {
	width: 100px;
	height: 100px;
	margin: 10px;
}

#box {
	background-color: red;
	transition: .5s ease-in-out;
}

.move {
	margin-left: 100px;
}

#box2 {
	background-color: green;
	animation: name 40s;
}

/*.animate {
	Triggers animation
	-Note that there are many 
	animation properties-
	animation: name 7s;
}*/

/*Define states according to percentages */
@keyframes name {
	7% {margin-left: 250px;}
	20% {margin-top: 150px;
		margin-left: 260px;}
	25% {margin-top: 160px;
		margin-left: 260px;}
	37% {margin-top: 150px;
		margin-left: 60px;}
	/*50% {margin-top: 250px;
		margin-left: 80px;}*/
/*	57% {margin-top: 150px;
		margin-left: 100px;}*/
/*	75% {margin-top: 250px;
		margin-left: 120px;}*/
/*	87% {margin-top: 150px;
		margin-left: 140px;}*/
/*	100% {margin-top: 10px;
		margin-left: 10px;}*/
}