<footer>
  <!-- can put helpers in here ...  -->
  <!-- if there are args they are space delineated ...  -->
  <!-- Ex. getCurrentYear arg1 arg2 -->
  <p>Copyright {{school}} {{getCurrentYear}}</p>
</footer>
