<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" text="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  </head>
  <body class="grid">
    {{> header}}
    {{> temp}}
    {{> images}}
    {{> footer}}
  </body>
</html>
