#page-container {
	border:solid;
	display:grid;
	height: 600px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#left-col {
	background-color: lightblue;
	grid-row: 1 / 4;
	grid-template-rows: repeat(3, 1fr);
	flex-direction: column;
}

#first-row {
	background-color: blue;
	
}

#second-row {
	background-color: purple;
	
}

#third-row {
	background-color: cyan;
}

.flex-container {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}

i {
	color: blue;
}

.row {
	grid-column: 2 / 5;
}

.box {
	height: 100px;
	width: 100px;
	background-color: white;
}
