<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <header>
      {{> Title}}
      <p><a href="/">Home</a></p>
      <p><a href="/about">About</a></p>
    </header>
    <p>This is the about page</p>
    <!-- <p>{{name}} {{age}}</p> -->
    {{> footer}}
  </body>
</html>
