<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <header>
      {{> Title}}
      <p><a href="/">Home</a></p>
      <p><a href="/about">About</a></p>
    </header>
    <footer>
      <p>This is the home page</p>
      <!-- rendering a partial -->
      {{> footer}}
    </footer>
  </body>
</html>
